<h4>Utilizar jquery dentro de angular</h4>
<button id="botonjq">Mostrar texto</button>
<p id="textojq" class="alert alert-warning">Esto es un texto de prueba</p>
<div style="width:150px;height:100px; border:solid 0.1em; black;" id="caja">
  jsdbhkajdbas dahdbhasdbashj dsa dhajsdjasdajhsd hsajd ahsdhjsadh
  jabhdjashjdv sajh jhasdvhsavdjhavda had has dhjas djhas djbad
  bakdsjbasjdbasj asdhas dhjas dhsadas dhad jhashdadshd a
</div>
<simple-tiny
  [elementId]="'descripcionTienda'"
  (onEditorKeyup)="textoRichEditor($event)"
  >
</simple-tiny>

<hr>
Padre:
<h1>{{titulo}}</h1>
<ul>
  <li>Camiseta rosa</li>
  <li>Gorra negra</li>
</ul>

<hr>
<p>
  Nombre del parque:
  <input type="text" [(ngModel)]="nombreDelParque" (keyup)="mostrarNombre()" />
</p>
<p>
  Resultado: {{nombreDelParque}}
</p>

<div *ngIf="miParque">
  <h4>Datos de mi Parque desde el hijo</h4>
  <ol >
    <li>{{miParque.nombre}}</li>
    <li>{{miParque.metros}}</li>
    <li>{{miParque.vegetacion}}</li>
    <li>{{miParque.abierto}}</li>
  </ol>
</div>

<hr>
<p *ngIf="nombreDelParque">
  Hijo:
  <parques [nombre]="nombreDelParque"
           [metros_cuadrados]='965'
           (pasameLosDatos)="verDatosParque($event)"
           ></parques>
</p>
